@media (min-width: 768px) {
    .container {
        width: 750px; } }
@media (min-width: 992px) {
    .container {
        width: 800px; } }
@media (min-width: 1200px) {
    .container {
        width: 800px; } }

body {
    font-size: 16px;
}

a > code {
    text-decoration: underline;
}
